.form-btns {
  display: flex;
  justify-content: center;
}
div.form {
  margin-bottom: 5%;
}
.f-btn {
  margin: 0% 1% 2% 1%;
}

.list-not-empty ul li {
  margin-top: 3%;
  margin-left: 0%;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: left;
}

.plan-box {
  width: 90%;
  height: auto;
  border-radius: 5px;
  font-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plan-box p {
  padding-bottom: 2%;
  padding-left: 2%;
  text-transform: uppercase;
  text-align: center;
  font-size: 110%;
}

.list-not-empty {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  margin-right: 1.6%;
}
.list-not-empty > div.album-photo {
  background-color: rgb(0, 0, 0);
  width: 15%;
  height: auto;
  border-radius: 5px;
  font-size: 100%;
  display: block;
  color: white;
  margin: 1.6% 0% 0% 1.6%;
}

#new-album {
  background-color: rgb(52, 62, 72);
  color: rgb(255, 255, 255);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
div .tittle {
  font-size: 5rem;
  text-align: center;
  height: 90vh;
  line-height: 90vh;
  color: #fcedd8;
  font-weight: 200;
}
header.album-bgr {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    ),
    url(/resources/img/collage.jpg);
  background-position: center; /* centrar la imagen */
  background-size: cover; /*to see all the image  */
  height: 100vh; /* 100  view port*/
  background-attachment: fixed;
}

div.plan-box:hover img {
  opacity: 0.7;
  position: relative;
}
div.plan-box {
  position: relative;
}
div.plan-box:hover div.hover-like {
  display: block;
  padding: 1% 2%;
  color: black;
}

div.plan-box:hover div.hover-icon {
  display: inline;
  opacity: 1;
}

div.plan-box .hover-like {
  position: absolute;
  display: none;
  left: 5%;
  top: 3%;
  background-color: rgba(255, 255, 255, 0.768);
  border-radius: 5%;
}

div.plan-box .hover-icon {
  position: absolute;
  display: none;
  right: 5%;
  top: 2%;
  background-color: rgba(255, 255, 255, 0.768);
  border-radius: 10px;
  padding: 0.3em 0.3em 0.1em 0.3em;
}
.album-photo img {
  width: 100%;
  margin: 0%;
  margin-bottom: 1%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
a.like-btn {
  color: black;
}
a.like-btn:hover {
  color: red;
}
p.artist-name {
  font-size: 70%;
  text-transform: capitalize;
  color: grey;
  text-align: left;
}

p.album-name {
  font-size: 80%;
  padding-top: 0%;
  margin-top: 0%;
  text-align: left;
  text-transform: capitalize;
}
