.list-not-empty {
  /* background-color: rgb(35, 36, 36); */
  border: chartreuse;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  margin-right: 1.6%;
}

.list-not-empty div.artist-photo {
  background-color: rgb(0, 0, 0);
  width: 15%;
  height: auto;
  border-radius: 5px;
  font-size: 100%;
  display: block;
  color: white;
  margin: 1.6% 0% 0% 1.6%;
}

.plan-box {
  width: 90%;
  height: auto;
  border-radius: 5px;
  font-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.plan-box div {
  padding: 15px;
  margin-bottom: 0%;
}
.plan-box p {
  padding-bottom: 3%;
  padding-top: 3%;
  text-transform: uppercase;
  text-align: center;
  font-size: 110%;
}

div.artist-photo img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div .tittle {
  font-size: 5rem;
  text-align: center;
  height: 90vh;
  line-height: 90vh;
  color: #fcedd8;
  font-weight: 200;
}
header.artis-bgr {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9)
    ),
    url(/resources/img/hpoth\ 2.jpg);
  background-position: center; /* centrar la imagen */
  background-size: cover; /*to see all the image  */
  height: 100vh; /* 100  view port*/
  background-attachment: fixed;
}

/* hover */

div.plan-box:hover img {
  opacity: 0.7;
  position: relative;
}
div.plan-box {
  position: relative;
}
div.plan-box:hover div.hover-like {
  display: block;
  padding: 1% 2%;
  color: black;
}

div.plan-box:hover div.hover-icon {
  display: inline;
  opacity: 1;
}

div.plan-box .hover-like {
  position: absolute;
  display: none;
  left: 5%;
  top: 3%;
  background-color: rgba(255, 255, 255, 0.768);
  border-radius: 5%;
}

div.plan-box .hover-icon {
  position: absolute;
  display: none;
  right: 5%;
  top: 2%;
  background-color: rgba(255, 255, 255, 0.768);
  border-radius: 10px;
  padding: 0.3em 0.3em 0.1em 0.3em;
}
.album-photo img {
  width: 100%;
  margin: 0%;
  margin-bottom: 1%;
  height: auto;

  opacity: 1;
  transition: opacity 0.5s ease-out;
}
a.like-btn {
  color: black;
}
a.like-btn:hover {
  color: red;
}
