div.form {
  margin-top: 10px;
}
.artist-photo img {
  width: 30%;
  margin: 0% 35% 4% 35%;
  height: auto;
  border-radius: 50%;
}
.artist-photo {
  margin-top: 0%;
  width: 50%;
  height: auto;
  border-radius: 5px;
  padding-top: 2%;
  font-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#login-errors {
  display: none;
  padding: 0% 2% 2% 2%;
  color: red;
}

#login {
  margin-top: 2%;
}
#login input {
  margin-bottom: 3%;
}
#login .btn-submit {
  padding: 2%;
}
