.list-not-empty {
  /* background-color: rgb(35, 36, 36); */
  border: chartreuse;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
}

.list-not-empty > div.artist-photo {
  background-color: rgb(53, 53, 53);
  width: 90%;
  width: 20%;
  /* height: 30%; */
  /* width: 90%;*/
  height: auto;
  border-radius: 10px;
  padding-top: 2%;
  font-size: 100%;
  display: block;
  color: white;
  margin: 1% 2.5%;
}

/* #artists-container ul {
  margin-top: 3%;
  margin-left: 6%;
} */
.list-not-empty ul li {
  margin-top: 3%;
  margin-left: 0%;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: left;
}

.list-not-empty ul {
  list-style-type: none;
}
.plan-box {
  background-color: black;
  width: 90%;
  height: auto;
  border-radius: 5px;
  padding-top: 2%;
  font-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.plan-box ul {
  margin-top: 3%;
  margin-left: 6%;
}
.plan-box ul li {
  margin-top: 3%;
  margin-left: 0%;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.plan-box div {
  padding: 15px;
  margin-bottom: 0%;
}
.plan-box p {
  padding: 3%;
  text-transform: uppercase;
  text-align: center;
  font-size: 110%;
  border-bottom: 2px solid #1db954;
}
#artsts-added {
  background-color: #054010;
  background-image: url(/resources/svg/Varying-Stripes.svg);
  background-attachment: fixed;
  background-size: cover;
}

.artist-photo img {
  opacity: 0.9;
  width: 60%;
  margin: 4% 20% 4% 20%;
  height: auto;
  transform: scale(1);
  transition: transform 1s;
  border-radius: 50%;
}

div .tittle {
  font-size: 5rem;
  text-align: center;
  height: 90vh;
  line-height: 90vh;
  color: #fcedd8;
  font-weight: 200;
}
.not-found {
  width: 20%;
}
.not-found img {
  padding: 2% 15%;
  width: 100%;
  height: auto;
}
.not-found p {
  padding: 3%;
  text-transform: uppercase;
  text-align: center;
  font-size: 150%;
  color: black;
}
.img-container div {
  padding: 4%;
  border-radius: 8px;
  background-color: #1db954;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
