.form-btns {
  display: flex;
  justify-content: center;
}
div.form {
  margin-bottom: 1%;
}
.f-btn {
  margin: 0% 1% 2% 1%;
}
html,
body {
  width: 100%;
  height: 100%;
}
.artist-presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.artist-photo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.artist-photo {
  padding: 5% 5% 5% 5%;
  width: 35%;
  height: auto;
  border-radius: 10px;
}
.artist-info p {
  padding: 5% 0%;
}
.artist-info span {
  color: gray;
}

.artist-presentation {
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 4%;
  width: 100%;
  height: auto;

  border-radius: 5px;
}
header {
  background-color: rgb(0, 0, 0);
  background-position: center; /* centrar la imagen */
  background-size: cover; /*to see all the image  */
  height: 100vh; /* 100  view port*/
  background-attachment: fixed;
}

#edit-artist {
  background-color: black;
  background-position: center; /* centrar la imagen */
  background-size: cover; /*to see all the image  */
  background-attachment: fixed;
}
section.artist-section {
  padding: 20px 0;
}

.plan-box {
  width: 90%;
  height: auto;
  border-radius: 5px;
  font-size: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.plan-box p {
  padding-bottom: 2%;
  padding-left: 2%;
  text-transform: uppercase;
  text-align: center;
  font-size: 110%;
}
.plan-box div {
  padding: 15px;
  margin-bottom: 0%;
}
.plan-box p {
  padding: 3%;
  text-transform: uppercase;
  text-align: center;
  font-size: 110%;
}

.album-photo img {
  opacity: 0.9;
  width: 100%;
  margin: 0%;
  margin-bottom: 4%;
  height: auto;
  transform: scale(1);
  transition: transform 1s;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list-not-empty {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: flex-start;
  margin-right: 1.6%;
}
.list-not-empty > div.album-photo {
  background-color: rgb(0, 0, 0);
  width: 15%;
  height: auto;
  border-radius: 5px;
  font-size: 100%;
  display: block;
  color: white;
  margin: 1.6% 0% 0% 1.6%;
}

#new-album {
  background-color: rgb(52, 62, 72);
  color: rgb(255, 255, 255);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
div.plan-box:hover img {
  opacity: 0.7;
  position: relative;
}
div.plan-box {
  position: relative;
}
div.plan-box:hover div.hover-like {
  display: block;
  padding: 1% 2%;
  color: black;
}

div.plan-box:hover div.hover-icon {
  display: inline;
  opacity: 1;
}

div.plan-box .hover-like {
  position: absolute;
  display: none;
  left: 5%;
  top: 3%;
  background-color: rgba(255, 255, 255, 0.768);
  border-radius: 5%;
}

div.plan-box .hover-icon {
  position: absolute;
  display: none;
  right: 5%;
  top: 2%;
  background-color: rgba(255, 255, 255, 0.768);
  padding: 0.3em 0.3em 0.1em 0.3em;
}
.album-photo img {
  width: 100%;
  margin: 0%;
  margin-bottom: 1%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
a.like-btn {
  color: black;
}
a.like-btn:hover {
  color: red;
}
p.artist-name {
  font-size: 70%;
  text-transform: capitalize;
  color: grey;
  text-align: left;
}

p.album-name {
  font-size: 80%;
  padding-top: 0%;
  margin-top: 0%;
  text-align: left;
  text-transform: capitalize;
}
